In [7]:


import pandas as pd
import datetime

In [8]:
df = pd.read_csv("dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14154 entries, 0 to 14153
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             14154 non-null  object
 1   latitude         14154 non-null  float64
 2   longitude        14154 non-null  float64
 3   depth            14154 non-null  float64
 4   mag              14154 non-null  float64
 5   magType          14154 non-null  object
 6   nst              5366 non-null   float64
 7   gap              7454 non-null   float64
 8   dmin             3059 non-null   float64
 9   rms              12826 non-null  float64
 10  net              14154 non-null  object
 11  id               14154 non-null  object
 12  updated          14154 non-null  object
 13  place            14148 non-null  object
 14  type             14154 non-null  object
 15  horizontalError  2700 non-null   float64
 16  depthError       7369 non-null   float64
 17  magError         3087 non-null   float64
 18  magNst           12133 non-null  float64
 19  status           14154 non-null  object
 20  locationSource   14154 non-null  object
 21  magSource        14154 non-null  object
dtypes: float64(12), object(10)
memory usage: 2.4+ MB

In [21]:
ranges = [[24,28,60,64],[28,32,64,68],[32,36,68,72],[36,40,72,76]]
cnt = 0
cnt1 = 0
cnt2 = 0
a=ranges[1][2]
b=ranges[1][3]
c=ranges[1][0]
d=ranges[1][1]
for ind in df.index:
    if df['longitude'][ind] > a and df['longitude'][ind] < b:
        cnt += 1
    if df['latitude'][ind] > c and df['latitude'][ind] < d:
        cnt1 += 1
    if df['longitude'][ind] > a and df['longitude'][ind] < b and df['latitude'][ind] > c and df['latitude'][ind] < d:
        cnt2 += 1
        print(df['time'][ind])

print(cnt)
print(cnt1)
print(cnt2)

2022-05-06T00:48:02.758Z
2022-03-16T12:02:59.784Z
2021-12-25T06:39:01.552Z
2021-10-30T13:09:23.898Z
2021-10-10T15:02:41.360Z
2021-10-06T22:01:08.867Z
2021-05-27T08:54:33.708Z
2021-05-27T00:38:27.680Z
2021-05-25T22:12:19.297Z
2021-04-10T21:49:38.394Z
2021-04-10T15:18:24.540Z
2021-02-09T01:16:16.570Z
2020-11-14T02:56:55.620Z
2020-10-16T08:13:29.666Z
2020-08-16T13:39:01.465Z
2020-08-12T22:40:45.802Z
2020-03-05T16:05:56.508Z
2020-01-04T22:34:22.995Z
2019-12-03T11:24:31.615Z
2019-08-28T19:35:00.502Z
2019-03-16T06:00:04.750Z
2019-03-03T06:33:21.670Z
2019-02-18T09:48:46.570Z
2018-12-17T07:12:39.170Z
2018-11-22T09:07:10.570Z
2018-07-19T19:33:26.480Z
2018-06-27T16:53:38.200Z
2018-06-19T10:53:45.020Z
2018-03-31T17:46:11.980Z
2017-11-07T18:58:50.870Z
2017-08-13T08:36:06.470Z
2017-04-22T19:37:36.290Z
2017-03-24T01:23:31.050Z
2016-08-31T00:13:21.110Z
2016-08-27T14:46:39.600Z
2016-08-17T22:58:20.290Z
2016-07-10T21:33:55.890Z
2016-05-13T07:01:10.270Z
2016-05-13T07:00:51.270Z
2016-05-13T06:59:32.030Z
2015-11-08T12:08:38.800Z
2015-10-17T00:06:00.200Z
2015-08-27T13:58:44.190Z
2015-05-20T13:19:19.920Z
2015-05-15T21:15:13.330Z
2015-04-15T12:42:44.040Z
2015-03-29T14:24:01.110Z
2015-02-12T18:11:27.860Z
2014-11-24T22:04:05.290Z
2014-06-22T04:23:33.860Z
2014-05-16T06:32:10.690Z
2014-03-12T19:19:18.300Z
2014-03-09T23:53:34.030Z
2013-12-06T21:15:01.860Z
2013-11-16T07:19:55.840Z
2013-11-15T10:42:40.520Z
2013-10-18T13:18:22.570Z
2013-10-10T21:06:11.530Z
2013-08-09T01:32:22.810Z
2013-02-26T20:12:13.550Z
2013-01-10T23:48:04.840Z
2012-12-25T17:36:32.800Z
2012-12-06T23:26:53.700Z
2012-12-05T07:26:40.050Z
2012-11-20T04:53:34.790Z
2012-11-19T22:38:01.320Z
2012-11-19T17:58:08.800Z
2012-11-19T17:54:07.460Z
2012-10-23T14:34:12.970Z
2012-09-28T22:14:44.940Z
2012-09-02T05:48:35.770Z
2012-05-24T20:26:35.340Z
2012-05-24T17:07:12.080Z
2012-03-28T03:19:24.870Z
2012-02-26T06:08:24.990Z
2012-01-19T04:55:20.170Z
2011-07-24T10:38:54.000Z
2011-07-05T01:40:07.570Z
2011-06-03T04:55:54.960Z
2011-05-13T15:35:41.180Z
2010-12-06T20:31:40.910Z
2010-11-12T09:37:19.960Z
2010-10-07T01:21:26.150Z
2010-09-09T19:45:07.210Z
2010-08-14T20:18:02.280Z
2010-07-12T14:35:15.590Z
2010-06-05T16:59:15.930Z
2009-12-12T16:22:10.860Z
2009-09-10T04:54:31.960Z
2009-09-10T04:46:14.680Z
2009-03-02T15:05:02.690Z
2009-01-09T13:04:10.570Z
2008-12-31T06:17:07.650Z
2008-12-27T18:39:54.150Z
2008-12-24T02:10:46.100Z
2008-12-23T19:37:29.120Z
2008-12-20T06:43:04.260Z
2008-12-14T11:59:16.630Z
2008-12-10T01:18:04.200Z
2008-12-09T22:52:37.620Z
2008-12-09T12:57:18.010Z
2008-12-09T05:53:43.050Z
2008-12-09T02:46:32.720Z
2008-12-08T04:22:56.000Z
2008-12-06T19:18:31.990Z
2008-12-02T12:56:57.740Z
2008-12-01T04:08:40.780Z
2008-11-29T18:39:10.190Z
2008-11-29T18:14:18.060Z
2008-11-28T02:53:13.230Z
2008-11-22T13:47:06.010Z
2008-11-20T10:08:09.740Z
2008-11-19T19:43:26.260Z
2008-11-18T15:38:28.460Z
2008-11-18T07:22:03.300Z
2008-11-15T15:21:13.130Z
2008-11-15T15:20:44.760Z
2008-11-14T19:35:37.310Z
2008-11-14T19:34:02.070Z
2008-11-14T18:39:27.820Z
2008-11-13T20:42:28.150Z
2008-11-12T17:18:01.580Z
2008-11-12T13:18:02.100Z
2008-11-10T21:47:31.510Z
2008-11-10T03:12:22.260Z
2008-11-09T18:10:29.440Z
2008-11-09T00:46:22.130Z
2008-11-07T07:59:29.630Z
2008-11-06T06:23:04.120Z
2008-11-06T02:07:35.310Z
2008-11-05T21:58:37.250Z
2008-11-05T13:11:26.380Z
2008-11-05T12:58:36.740Z
2008-11-05T08:21:09.190Z
2008-11-04T23:27:55.140Z
2008-11-04T04:19:43.510Z
2008-11-03T21:05:34.890Z
2008-11-03T16:08:14.750Z
2008-11-03T13:37:24.820Z
2008-11-02T08:55:11.950Z
2008-11-02T03:42:39.630Z
2008-11-01T20:21:06.460Z
2008-11-01T14:55:25.760Z
2008-10-31T23:59:52.920Z
2008-10-31T10:51:21.910Z
2008-10-31T10:02:12.900Z
2008-10-31T07:49:50.130Z
2008-10-31T07:46:09.010Z
2008-10-31T03:46:39.520Z
2008-10-31T00:56:52.760Z
2008-10-30T23:51:07.330Z
2008-10-30T22:35:01.020Z
2008-10-30T21:10:43.040Z
2008-10-30T20:53:02.740Z
2008-10-30T17:34:02.490Z
2008-10-30T17:30:21.240Z
2008-10-30T10:16:51.620Z
2008-10-30T10:05:21.150Z
2008-10-30T08:00:53.520Z
2008-10-30T07:16:19.420Z
2008-10-30T05:40:14.660Z
2008-10-30T04:19:34.400Z
2008-10-30T00:15:21.220Z
2008-10-29T21:49:41.020Z
2008-10-29T21:48:13.300Z
2008-10-29T21:44:17.020Z
2008-10-29T21:43:37.210Z
2008-10-29T21:20:20.770Z
2008-10-29T20:08:47.860Z
2008-10-29T19:08:57.170Z
2008-10-29T18:42:46.310Z
2008-10-29T18:06:24.180Z
2008-10-29T18:02:16.060Z
2008-10-29T18:00:26.530Z
2008-10-29T17:48:52.200Z
2008-10-29T17:09:10.370Z
2008-10-29T16:45:11.010Z
2008-10-29T16:37:23.210Z
2008-10-29T16:29:11.730Z
2008-10-29T15:56:35.340Z
2008-10-29T15:32:44.910Z
2008-10-29T15:10:24.480Z
2008-10-29T14:03:29.400Z
2008-10-29T13:53:06.920Z
2008-10-29T13:38:44.910Z
2008-10-29T13:28:38.550Z
2008-10-29T12:47:39.700Z
2008-10-29T12:30:24.690Z
2008-10-29T12:16:29.400Z
2008-10-29T12:11:45.900Z
2008-10-29T12:03:20.160Z
2008-10-29T11:56:20.500Z
2008-10-29T11:51:02.750Z
2008-10-29T11:32:43.130Z
2008-10-29T09:44:17.620Z
2008-10-29T07:59:00.010Z
2008-10-29T07:07:41.830Z
2008-10-29T06:43:26.160Z
2008-10-29T06:15:19.580Z
2008-10-29T04:49:17.280Z
2008-10-29T04:48:44.610Z
2008-10-29T04:18:35.210Z
2008-10-29T03:50:16.140Z
2008-10-29T02:58:47.020Z
2008-10-29T01:54:17.260Z
2008-10-29T01:54:02.010Z
2008-10-29T01:42:36.880Z
2008-10-29T01:27:40.720Z
2008-10-29T01:22:22.490Z
2008-10-29T01:12:24.560Z
2008-10-29T00:31:55.580Z
2008-10-29T00:12:26.080Z
2008-10-28T23:42:38.940Z
2008-10-28T23:28:52.420Z
2008-10-28T23:09:57.650Z
2008-10-28T22:33:08.530Z
2008-04-07T11:48:16.920Z
2008-03-09T09:27:37.980Z
2008-02-26T16:10:28.250Z
2008-02-03T06:17:22.870Z
2007-10-20T06:55:38.360Z
2007-10-19T07:19:54.780Z
2007-10-06T17:28:53.290Z
2007-09-11T10:28:24.300Z
2007-08-08T03:28:41.380Z
2007-06-30T00:24:59.420Z
2006-10-09T05:12:50.950Z
2006-09-25T12:59:13.310Z
2006-08-17T12:24:13.800Z
2006-08-16T15:55:29.100Z
2006-08-11T12:10:26.440Z
2006-02-12T19:52:26.820Z
2006-02-06T21:11:11.980Z
2006-01-28T23:52:29.580Z
2005-12-11T15:37:29.770Z
2005-11-08T19:49:29.150Z
2005-10-21T08:03:59.150Z
2005-09-18T18:41:41.270Z
2005-05-23T11:57:31.420Z
2005-05-23T04:13:45.270Z
2005-03-02T11:49:35.850Z
2004-07-22T03:56:34.000Z
2004-07-21T23:55:57.610Z
2004-07-19T13:39:57.810Z
2004-06-17T18:52:42.340Z
2004-06-17T05:08:27.710Z
2004-05-08T20:11:44.200Z
2004-04-24T02:09:27.850Z
2004-03-24T12:42:35.060Z
2004-01-17T14:02:53.720Z
2003-12-01T18:53:28.620Z
2003-01-29T11:49:34.300Z
2002-06-28T10:18:55.440Z
2002-05-14T00:31:04.880Z
2002-05-13T23:06:40.530Z
2002-03-16T20:05:18.310Z
2002-02-26T06:38:36.490Z
2001-11-29T04:28:54.010Z
2001-08-14T21:19:28.880Z
2001-08-10T14:25:11.890Z
2001-05-24T00:21:15.350Z
2001-04-06T17:53:12.470Z
2001-03-29T16:19:03.940Z
2001-02-22T07:54:39.670Z
2000-08-22T00:14:31.490Z
2000-07-01T02:55:33.470Z
2000-06-04T17:52:15.990Z
2000-04-11T10:46:59.990Z
2000-03-21T22:17:55.490Z
2000-03-05T02:54:22.990Z
2000-02-17T09:44:09.960Z
2000-02-08T23:44:17.740Z
2000-01-22T09:14:50.010Z
1999-12-27T04:59:42.730Z
1999-07-07T23:00:43.360Z
1999-06-02T19:06:34.050Z
1999-04-16T16:14:37.210Z
1999-02-23T04:06:54.710Z
1998-11-27T00:29:50.360Z
1998-07-14T19:10:34.800Z
1998-07-14T19:02:55.090Z
1998-07-14T14:25:02.580Z
1998-07-14T13:04:56.560Z
1998-07-14T13:03:49.710Z
1998-07-14T05:45:59.170Z
1998-07-14T01:01:22.180Z
1998-07-13T23:12:35.220Z
1998-07-12T22:15:54.550Z
1998-07-12T20:52:16.150Z
1998-06-21T15:57:44.500Z
1998-05-28T20:16:55.470Z
1998-05-28T10:16:15.230Z
1998-05-17T05:41:11.380Z
1998-05-02T03:49:29.920Z
1998-05-01T02:02:17.640Z
1998-04-21T13:52:12.720Z
1998-03-03T00:11:44.820Z
1998-02-17T19:15:27.790Z
1998-02-13T21:02:35.910Z
1998-02-13T13:08:49.680Z
1998-01-05T16:58:35.290Z
1998-01-01T18:12:25.490Z
1997-12-04T10:17:01.330Z
1997-10-03T13:13:58.580Z
1997-09-07T20:06:43.800Z
1997-09-07T19:58:08.340Z
1997-09-07T15:56:25.270Z
1997-09-07T10:41:03.630Z
1997-09-07T10:15:24.930Z
1997-08-25T14:13:22.490Z
1997-08-24T16:51:08.630Z
1997-08-24T15:12:00.890Z
1997-07-10T11:28:09.860Z
1997-06-20T23:04:43.950Z
1997-06-08T00:11:54.630Z
1997-05-15T12:35:46.990Z
1997-05-07T03:04:51.790Z
1997-05-02T06:14:50.130Z
1997-04-14T13:36:49.930Z
1997-04-04T09:56:43.600Z
1997-03-28T21:52:25.930Z
1997-03-22T23:48:50.180Z
1997-03-22T12:53:50.030Z
1997-03-22T06:19:52.160Z
1997-03-21T15:46:34.840Z
1997-03-21T04:50:48.990Z
1997-03-20T19:09:58.320Z
1997-03-20T15:59:34.340Z
1997-03-20T09:03:13.020Z
1997-03-20T05:00:44.340Z
1997-03-19T11:15:50.550Z
1997-03-13T20:38:12.850Z
1997-03-13T01:25:56.840Z
1997-03-11T10:47:58.630Z
1997-03-09T08:39:49.780Z
1997-03-07T13:52:48.600Z
1997-03-05T17:26:33.870Z
1997-03-04T09:56:28.440Z
1997-03-03T13:06:53.780Z
1997-03-03T06:51:10.610Z
1997-03-03T02:25:20.860Z
1997-03-01T19:02:47.760Z
1997-03-01T09:15:23.850Z
1997-03-01T08:25:36.190Z
1997-03-01T07:55:24.870Z
1997-03-01T07:44:31.520Z
1997-03-01T02:36:15.550Z
1997-03-01T02:06:27.200Z
1997-03-01T01:39:08.430Z
1997-03-01T01:35:51.190Z
1997-02-28T19:43:40.810Z
1997-02-28T16:14:37.210Z
1997-02-28T10:24:40.320Z
1997-02-28T05:28:37.590Z
1997-02-28T02:22:04.850Z
1997-02-28T00:45:09.370Z
1997-02-27T23:54:14.880Z
1997-02-27T23:39:09.490Z
1997-02-27T23:02:54.310Z
1997-02-27T22:21:07.170Z
1997-02-27T21:51:55.720Z
1997-02-27T21:47:27.560Z
1997-02-27T21:44:02.110Z
1997-02-27T21:30:36.570Z
1997-01-10T09:08:30.590Z
1996-12-01T09:01:49.210Z
1996-12-01T02:17:48.440Z
1996-12-01T00:46:11.980Z
1996-11-11T17:34:43.400Z
1996-10-04T03:10:15.030Z
1996-08-02T11:36:12.300Z
1996-04-23T18:21:39.640Z
1996-03-03T19:27:05.250Z
1995-11-06T11:53:17.390Z
1995-08-10T17:00:21.060Z
1995-06-11T08:26:35.530Z
1995-06-05T16:46:02.680Z
1995-05-31T13:51:19.400Z
1995-04-06T14:26:13.020Z
1995-03-16T03:27:02.390Z
1994-05-12T08:03:12.690Z
1994-02-19T03:13:08.660Z
1993-11-19T03:18:13.210Z
1993-11-16T15:52:48.520Z
1993-10-30T23:05:53.010Z
1993-08-23T19:51:10.500Z
1993-08-23T05:21:43.310Z
1993-07-26T09:31:30.340Z
1993-03-11T00:04:25.510Z
1992-11-08T23:27:25.110Z
1992-10-18T06:29:10.300Z
1992-09-18T23:52:35.740Z
1992-08-28T03:38:01.670Z
1992-08-28T00:50:50.450Z
1992-08-16T13:39:55.140Z
1992-07-14T04:24:28.280Z
1992-05-16T15:50:30.610Z
1992-05-04T10:54:22.200Z
1992-02-05T23:41:36.850Z
1992-02-05T23:10:48.630Z
1992-02-05T19:36:29.880Z
1991-09-30T18:08:16.600Z
1991-09-22T05:42:27.890Z
1991-09-15T02:12:24.940Z
1991-09-15T00:20:50.300Z
1991-08-01T01:56:06.330Z
1991-07-21T12:27:57.530Z
1991-02-26T01:19:27.390Z
1991-02-25T20:01:39.250Z
1991-02-25T02:38:42.850Z
1990-11-28T19:21:21.720Z
1990-10-14T06:05:51.370Z
1990-07-09T07:46:05.690Z
1990-06-15T05:54:55.740Z
1990-05-09T05:24:23.130Z
1990-04-27T05:29:25.900Z
1990-03-05T02:45:52.970Z
1990-03-04T23:42:07.640Z
1990-03-04T20:34:56.280Z
1990-03-04T20:18:52.610Z
1990-03-04T19:46:19.670Z
1990-02-26T18:21:26.270Z
1990-01-31T13:09:10.060Z
1989-12-29T04:20:29.840Z
1989-10-05T14:47:07.860Z
1989-04-11T05:23:00.180Z
1989-03-31T03:33:12.070Z
1989-03-14T03:27:15.780Z
1989-02-20T16:37:31.180Z
1989-01-26T18:22:29.510Z
1988-11-28T05:19:08.700Z
1988-04-25T16:13:49.610Z
1988-04-07T01:05:04.370Z
1988-03-28T13:39:52.880Z
1988-03-27T06:01:01.810Z
1988-03-26T08:42:23.130Z
1988-03-23T10:15:31.310Z
1988-03-19T21:00:09.690Z
1988-03-19T20:19:15.940Z
1988-03-14T20:19:02.960Z
1987-03-27T05:45:39.430Z
1986-10-10T05:26:29.820Z
1986-02-11T16:58:02.480Z
1986-01-23T17:20:13.610Z
1986-01-22T02:01:16.260Z
1985-11-04T12:37:23.710Z
1985-05-03T19:23:47.350Z
1985-04-15T11:24:00.450Z
1985-03-19T09:10:24.370Z
1984-04-15T21:49:50.730Z
1984-04-11T12:34:29.810Z
1984-02-08T13:07:03.180Z
1983-08-06T04:52:53.690Z
1983-02-22T18:43:25.620Z
1982-08-04T17:34:20.860Z
1982-06-01T14:39:32.060Z
1982-03-05T04:16:03.420Z
1981-12-12T20:29:09.920Z
1981-12-12T20:26:46.940Z
1981-11-03T04:19:48.310Z
1981-11-02T22:59:47.710Z
1981-09-11T22:24:48.350Z
1981-05-07T06:28:59.870Z
1980-10-29T19:55:42.200Z
1980-09-06T21:28:59.600Z
1980-07-03T22:30:05.100Z
1980-05-11T02:44:22.300Z
1979-09-02T16:14:48.800Z
1979-06-24T13:49:03.400Z
1979-03-02T10:25:46.600Z
1978-12-10T02:26:59.000Z
1978-12-10T01:30:16.700Z
1978-12-04T00:18:50.900Z
1978-11-07T23:35:02.900Z
1978-07-11T22:50:39.000Z
1978-05-06T11:16:09.900Z
1978-04-19T10:19:23.200Z
1978-03-16T02:00:00.500Z
1978-02-28T17:07:17.000Z
1978-02-23T16:02:37.100Z
1977-11-18T06:39:02.100Z
1977-07-13T08:09:15.700Z
1977-06-13T00:16:46.200Z
1976-08-20T11:22:02.200Z
1975-10-06T12:51:37.700Z
1975-10-04T05:59:42.900Z
1975-10-03T19:08:07.300Z
1975-10-03T17:55:03.700Z
1975-10-03T17:31:35.800Z
1975-10-03T05:14:23.300Z
1975-09-28T10:19:40.300Z
1975-07-18T09:30:12.200Z
1974-02-22T07:06:32.600Z
1973-06-25T20:22:26.500Z
1973-02-04T19:25:48.300Z
981
1112
495

In [22]:
weeklist =[]
first_Monday_found = False
    week_case_count = 0
    week_case_counts = []
    for index, value in state_new_cases.items():
        index_date = pd.to_datetime(index, format='%Y/%m/%d', 
                                    exact = False)
        index_day_of_week = index_date.day_name()
        if not first_Monday_found and index_day_of_week != 'Monday':
            continue
        first_Monday_found = True
        week_case_count += value
        if index_day_of_week == 'Sunday':
            week_case_counts.append(week_case_count)
            week_case_count = 0
    return week_case_counts

IndentationError: unexpected indent (<ipython-input-22-7429d1b49628>, line 3)

In [23]:
df.head(5)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-05-06T06:21:18.587Z,26.9455,66.2850,10.00,5.2,mww,NaN,79.0,7.933,0.71,...,2022-05-06T23:43:32.961Z,"79 km N of Bela, Pakistan",earthquake,8.7,1.8,0.083,14.0,reviewed,us,us
1,2022-05-06T00:48:02.758Z,28.4517,64.3204,10.00,5.1,mb,NaN,120.0,7.286,0.90,...,2022-05-06T01:05:22.040Z,"49 km S of Dalbandin, Pakistan",earthquake,9.8,1.9,0.045,163.0,reviewed,us,us
2,2022-05-05T16:59:55.011Z,36.4423,71.1747,140.42,4.3,mb,NaN,81.0,0.834,1.09,...,2022-05-05T19:33:35.040Z,"41 km SW of Ashk?sham, Afghanistan",earthquake,6.6,5.6,0.111,23.0,reviewed,us,us
3,2022-05-05T11:54:31.772Z,36.4963,70.4137,195.08,4.2,mb,NaN,123.0,0.641,0.86,...,2022-05-05T12:29:21.040Z,"50 km E of Farkh?r, Afghanistan",earthquake,10.0,7.3,0.125,18.0,reviewed,us,us
4,2022-05-05T00:05:42.942Z,37.5022,71.7337,108.73,5.0,mww,NaN,55.0,0.996,0.71,...,2022-05-05T19:13:29.631Z,"16 km E of Khorugh, Tajikistan",earthquake,6.5,5.5,0.098,10.0,reviewed,us,us

In [29]:
start_date = datetime.date(2022, 5, 6)
end_date = datetime.date(1971, 10, 1)
delta = datetime.timedelta(days=7)
delta1 = datetime.timedelta(days=1)
cnt = 0
week_range_list =[]
while start_date >= end_date:
#     print(start_date)
    index_date = pd.to_datetime(start_date, format='%Y-%m-%d', exact = False)
    index_day_of_week = index_date.day_name()
#     print(index_day_of_week)
    list = [start_date,start_date-delta+delta1]
    week_range_list.append(list)
#     print(list)
    cnt += 1
    start_date -= delta

print(len(week_range_list))

2641

In [30]:
df1 = pd.DataFrame(week_range_list,columns=['end_date','start_date'])
list=[]
for i in range(1,len(week_range_list)+1):
    list.append(i)
df1['week']=list
df1

        end_date  start_date  week
0     2022-05-06  2022-04-30     1
1     2022-04-29  2022-04-23     2
2     2022-04-22  2022-04-16     3
3     2022-04-15  2022-04-09     4
4     2022-04-08  2022-04-02     5
...          ...         ...   ...
2636  1971-10-29  1971-10-23  2637
2637  1971-10-22  1971-10-16  2638
2638  1971-10-15  1971-10-09  2639
2639  1971-10-08  1971-10-02  2640
2640  1971-10-01  1971-09-25  2641

[2641 rows x 3 columns]

In [20]:
# initializations
# ranges = [[24,28,60,64],[28,32,64,68],[32,36,68,72],[36,40,72,76]]
ranges = [[75,79.89,23,25.44],[79.89,84.87,25.44,27.88],[84.87,89.76,27.88,30.32],[89.76,94.64,30.32,32.76],[94.64,99.54,32.76,35.20],[99.54,104.43,35.20,37.64],[104.43,109.32,37.64,40.08],[109.32,114.21,40.08,42.52],[114.32,119.10,42.52,44.96]]

In [8]:
len(result)

NameError: name 'result' is not defined

In [31]:
# 2015-12-23T19:47:07.240Z
result1 =[]
ind1 = 0
start_date=df1['start_date'][ind1]
end_date=df1['end_date'][ind1]
cnt1=0
cnt2=0
cnt3=0
cnt4=0
cnt5=0
cnt6=0
cnt7=0
cnt8=0
cnt9=0
for ind in df.index:
    index_date = pd.to_datetime(df['time'][ind], format='%Y-%d-%m', exact = False)
    lat = df['longitude'][ind]
    long = df['latitude'][ind]
    
    while index_date < start_date:
        result1.append([ind1+1,cnt1,cnt2,cnt3,cnt4])
#         print(ind1)
        cnt1=0
        cnt2=0
        cnt3=0
        cnt4=0
        cnt5=0
        cnt6=0
        cnt7=0
        cnt8=0
        cnt9=0
        ind1 += 1
        if(ind1 >= 2641):
            break
        start_date=df1['start_date'][ind1]
        end_date=df1['end_date'][ind1]
        
        
    if index_date >= start_date and index_date <= end_date:
#         print(ind)
        if long >= ranges[0][2] and long < ranges[0][3] and lat >= ranges[0][0] and lat < ranges[0][1]:
            cnt1 = 1
        if long >= ranges[1][2] and long < ranges[1][3] and lat >= ranges[1][0] and lat < ranges[1][1]:
            cnt2 = 1
        if long >= ranges[2][2] and long < ranges[2][3] and lat >= ranges[2][0] and lat < ranges[2][1]:
            cnt3 = 1
        if long >= ranges[3][2] and long < ranges[3][3] and lat >= ranges[3][0] and lat < ranges[3][1]:
            cnt4 = 1
#         if long >= ranges[4][2] and long < ranges[4][3] and lat >= ranges[4][0] and lat < ranges[4][1]:
#             cnt5 = 1
#         if long >= ranges[5][2] and long < ranges[5][3] and lat >= ranges[5][0] and lat < ranges[5][1]:
#             cnt6 = 1
#         if long >= ranges[6][2] and long < ranges[6][3] and lat >= ranges[6][0] and lat < ranges[6][1]:
#             cnt7 = 1
#         if long >= ranges[7][2] and long < ranges[7][3] and lat >= ranges[7][0] and lat < ranges[7][1]:
#             cnt8 = 1
#         if long >= ranges[8][2] and long < ranges[8][3] and lat >= ranges[8][0] and lat < ranges[8][1]:
#             cnt9 = 1
            
result1.append([ind1+1,cnt1,cnt2,cnt3,cnt4])

    

len(result1)
# print(index_date)

2645

In [32]:
df2 = pd.DataFrame(result1,columns=['week','region1','region2','region3','region4'])
# df2 = pd.DataFrame(result1,columns=['week','region1','region2','region3','region4','region5','region6','region7','region8','region9'])
df2

      week  region1  region2  region3  region4
0        1        0        0        0        0
1        2        0        0        0        0
2        3        0        0        0        0
3        4        0        0        0        0
4        5        0        0        0        0
...    ...      ...      ...      ...      ...
2640  2641        0        0        0        0
2641  2642        0        0        0        0
2642  2643        0        0        0        0
2643  2644        0        0        0        0
2644  2645        0        0        0        0

[2645 rows x 5 columns]

In [28]:
df2.to_csv("lstm_paper1_3_days_data.csv")

In [ ]:
# not working
result =[]

for ind in df1.index:
#     index_date1 = pd.to_datetime(df1['end_date'][ind], format='%Y-%m-%d', exact = False)
    start_date=df1['start_date'][ind]
    end_date=df1['end_date'][ind]
    cnt1=0
    cnt2=0
    cnt3=0
    cnt4=0
    print(ind)
    for ind1 in df.index:
        index_date = pd.to_datetime(df['time'][ind], format='%d-%m-%Y', exact = False)
        
        if index_date < start_date:
            break
        if index_date >= start_date and index_date <= end_date:
            if df['longitude'][ind] >= ranges[0][2] and df['longitude'][ind] < ranges[0][3] and df['latitude'][ind] >= ranges[0][0] and df['latitude'][ind] < ranges[0][1]:
                cnt1 += 1
                print("hello1")
            if df['longitude'][ind] >= ranges[1][2] and df['longitude'][ind] < ranges[1][3] and df['latitude'][ind] >= ranges[1][0] and df['latitude'][ind] < ranges[1][1]:
                cnt2 += 1
                print("hello2")
            if df['longitude'][ind] >= ranges[2][2] and df['longitude'][ind] < ranges[2][3] and df['latitude'][ind] >= ranges[2][0] and df['latitude'][ind] < ranges[2][1]:
                cnt3 += 1
                print("hello3")
            if df['longitude'][ind] >= ranges[3][2] and df['longitude'][ind] < ranges[3][3] and df['latitude'][ind] >= ranges[3][0] and df['latitude'][ind] < ranges[3][1]:
                cnt4 += 1
                print("hello4")
                
    result.append([ind,cnt1,cnt2,cnt3])

print(result)